.modal-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  padding: 15px;
  width: 20%;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container h2 {
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 10px;
  border-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.form .buttons-container {
  display: flex;
}

.form .buttons-container button {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.form .buttons-container button:nth-child(2n-1) {
  margin-right: 15px;
  background: #fd7575;
}

.form .buttons-container button:nth-child(2n-1):hover {
  margin-right: 15px;
  background: #f55555;
}

.form .buttons-container button:nth-child(2n) {
  background: #6bd46b;
}

.form .buttons-container button:nth-child(2n):hover {
  background: #3ebb3e;
}
